:root {
    --black: #000000;
    --blue-air-superiority: #71a2c1;
    --blue-celadon: #457b9d;
    --gray: #808080;
    --gray-light: #cccccc;
    --red: #ff0000;
    --white: #ffffff;
}

/* GERAL */
body, header, main, footer, aside, div, h1, h2, ul, li, p, form, input, button, span {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--white-smoke);
}

div.container {
    max-width: 900px;
    /* height: 90vh; */
    margin: 0 auto;
}

.hidden {
    display: none;
}
/* GERAL */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-celadon);
    padding: 30px 20px;
}

header h1 {
    font-size: 1.5rem;
    color: var(--white);
}

header label.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

header label.switch input.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

header label.switch input.toggle:checked + span.slider {
    background-color: var(--blue-air-superiority);
}

header label.switch input.toggle:checked + span.slider:before {
    transform: translateX(26px);
}

header label.switch span.slider,
header label.switch span.slider.off {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-light);
    transition: .4s;
}

header label.switch span.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    transition: .4s;
}

header label.switch span.slider.round {
    border-radius: 34px;
}

header label.switch span.slider.round:before {
    border-radius: 50%;
}
/* HEADER */

/* FOOTER */
footer {
    background-color: var(--blue-celadon);
    padding: 20px 20px;
}

footer p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--white);
}
/* FOOTER */

/* MAIN */
div.main-container {
    position: relative;
    background-color: var(--gray-light);
}

div.main-container main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

div.main-container main div.pedraPapelTesoura {}

div.main-container main div.pedraPapelTesoura div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    padding: 20px 30px;
    width: 142px;
    height: 160px;
    background-color: var(--white);
}

div.main-container main div.pedraPapelTesoura div.card:not(:last-child) {
    margin-bottom: 20px;
}

div.main-container main div.pedraPapelTesoura div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

div.main-container main div.pedraPapelTesoura div.card section {}

div.main-container main div.pedraPapelTesoura div.card section span {
    font-size: 4rem;
}

div.main-container main div.pedraPapelTesoura div.card section h2 {
    margin-top: 10px;
}

div.main-container main div.comingSoon {}

div.main-container main div.comingSoon h2 {
    font-size: 3rem;
    padding: 160px 0;
}
/* MAIN */

/* ASIDE */
div.main-container aside.sidenav {
    width: 0;
    height: 100%;
    background-color: var(--blue-air-superiority);
    overflow-x: hidden;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

div.main-container aside.sidenav.opend {
    width: 220px;
}

div.main-container aside.sidenav nav {
    color: var(--white);
}

div.main-container aside.sidenav nav figure {
    position: relative;
    text-align: center;
}

div.main-container aside.sidenav nav figure span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: var(--red);
    border-radius: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid var(--white);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.main-container aside.sidenav nav figure img#userPhoto {
    width: 128px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--blue-air-superiority), 
                0 0 0 4px var(--white);
}

div.main-container aside.sidenav nav p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 10px;
    border-bottom: 2px solid var(--blue-celadon);
}

div.main-container aside.sidenav nav ul {
    padding: 20px 20px 0 20px;
}

div.main-container aside.sidenav nav ul li {
    list-style-type: none;
}

div.main-container aside.sidenav nav ul li:not(:last-child) {
    margin-bottom: 20px;
}

div.main-container aside.sidenav nav ul li a:link,
div.main-container aside.sidenav nav ul li a:visited {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

div.main-container aside.sidenav nav ul li a:hover,
div.main-container aside.sidenav nav ul li a:visited {
    text-decoration: underline;
}
/* ASIDE */

/* MODAL */
div.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

div.modal-container div.modal-content {
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px;
    margin: 25% auto;
    border: 1px solid var(--gray);
    width: 90%;
    max-width: 500px;
}

div.modal-container div.modal-content form.modal-form {}

div.modal-container div.modal-content form.modal-form p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

div.modal-container div.modal-content form.modal-form div.form {}

div.modal-container div.modal-content form.modal-form div.form div.form-input {}

div.modal-container div.modal-content form.modal-form div.form div.form-input input#email {
    border-style: none;
    border: 2px solid var(--blue-celadon);
    border-radius: 5px;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

div.modal-container div.modal-content form.modal-form div.form div.form-button {
    text-align: right;
}

div.modal-container div.modal-content form.modal-form div.form div.form-button button {
    border-style: none;
    border-radius: 5px;
    background-color: var(--blue-air-superiority);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    padding: 10px 20px;
}

div.modal-container div.modal-content form.modal-form div.form div.form-button button:hover {
    cursor: pointer;
}

div.animation {}

div.animation p {
    font-size: 5rem;
    text-align: center;
    color: var(--white);
    margin: 60% auto;
    opacity: 0;
    animation: fading 1s normal;
}

@keyframes fading {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

div.result {}

div.result div.result-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: var(--gray-light);
}

div.result div.result-content h2.result-content-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

div.result div.result-content div.cardResult {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    padding: 20px 30px;
    width: 220px;
    height: 160px;
    background-color: var(--white);
}

div.result div.result-content div.cardResult:not(:last-child) {
    margin-bottom: 20px;
}

div.result div.result-content div.cardResult section {

}

div.result div.result-content div.cardResult section span {
    font-size: 4rem;
}

div.result div.result-content div.cardResult section h3 {
    font-size: 1.3rem;
}

div.result div.result-content p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

div.result div.result-content button.closeResult {
    border-style: none;
    border-radius: 5px;
    background-color: var(--blue-air-superiority);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    padding: 20px 40px;
}

div.result div.result-content button.closeResult {
    cursor: pointer;
}
/* MODAL */

@media only screen and (min-width: 800px){
    div.container {
        margin: 20px auto;
        box-shadow: 2px 2px 5px var(--gray);
    }

    header {
        padding: 30px 40px;
    }

    header label.switch {
        display: none;
    }

    div.main-container {
        display: grid;
        grid-template-columns: 1fr 220px;
        position: unset;
    }

    div.main-container main {
        grid-column: 1 / 2;
        padding: 40px 20px;
    }

    div.main-container main div.card {
        transition: transform .2s;
    }

    div.main-container main div.card:hover {
        transform: scale(1.1);
    }

    div.main-container aside.sidenav {
        grid-column: 2 / 3;
        position: unset;
        width: auto;
    }

    div.modal-container div.modal-content {
        margin: 100px auto;
    }

    div.animation p {
        margin: 300px auto;
    }
}